@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 475px) {
  html {
    font-size: 15px;
  }
}

body {
  font-family: 'Recursive', sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
